### venv ###
venv/

### pycharm ###
.idea/

### git ###
gt.sh

### cache ###
l_sys/__pycache__/
tests/__pycache__/

### docs ###
docs/_build/
docs/_static/
docs/_templates/

### drawe ###
drawer.py
l-sys.py